

.dropdown-item{
    height: 30px;
}



.dropdown-item-popup{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /*background-color: #fff;
    *//*background-color: rgba(128, 128, 128, 0.47);
    */background-color: #227A8A;
    border-radius:0.5rem;
    color: white;
    & li:not(:first-child)
{
        cursor: pointer;
        margin-top:-2rem;
    }
}

.dropdown-button {
    border: none;
    background-color: transparent;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
}

.arrow-icon{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.rotate {
    rotate: 180deg;
}

.activeColor{
    color: #227A8A;
}

.reactjs-popup-arrow {
    border-color: white; /* Change arrow color */
    width: 12px; /* Adjust width */
    height: 12px; /* Adjust height */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  