.feedback-main-heading {
  color: #227a8a;
  border-bottom: 2px solid rgba(128, 128, 128, 0.322);
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.next-button--container {
  display: flex;
  justify-content: end;
  /* margin: 1rem 0; */
  padding: 0.8rem;
  padding-right: 2rem;
  border-top: 1px solid gray;
  & button {
    background-color: #227a8a;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
  }
}

.interview-tabs--container {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  & li {
    cursor: pointer;
    font-size: 1rem;
  }
}

.interview-feedback-body--container {
  padding: 1rem 2rem;
  margin: 0 2rem;
  height: 65vh;
  overflow-y: auto;
  border: 2px solid rgba(128, 128, 128, 0.31);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  scrollbar-width: 0px;
}

.candidate-top-items--container {
  /* margin-top: 2rem; */
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-bottom: 1px solid gray;

  & > div {
    display: flex;
    align-items: center;
    width: 45%;
    gap: 2rem;
    & p {
      width: 200px;
    }
  }
}

.candidate-instructions-container {
  display: flex;
  gap: 3rem;
  border-bottom: 1px solid gray;

  & h3 {
    width: 200px;
  }

  & li {
    list-style-type: disc;
    margin-bottom: 1rem;
  }
}

.candidate-question-details--container {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .questions-items-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 2rem;

    & > div {
      width: 45%;
      display: flex;
      align-items: center;
      gap: 2rem;
      /* border: 1px solid red; */
      & p {
        width: 200px;
      }
    }
  }
}

.Interviews-mini-tab--container {
  display: flex;
  align-items: center;
  gap: 5rem;
  cursor: pointer;

  & li {
    font-weight: bold;
  }
}

.add-note-share-like-dislike--container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.note-container {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-top: 1rem;
}

.para-value {
  color: gray;
}

.interview-questions--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  & > div {
    padding: 1rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
  }

  & summary {
    cursor: pointer;
  }
}

.question-down-arrow--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.rotate-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.rating-note-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  /* border: 1px solid red; */
}

.rating-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.question-add-note-button {
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0.2px 1px 0.1px #227a8a;
  border: 1px solid #227a8a;
  padding: 0.2rem 0.8rem;
  color: #227a8a;
  background-color: transparent;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.icon-colored {
  color: gold; /* or any preferred color for selected stars */
  cursor: pointer;
}

.icon-uncolored {
  color: gray; /* or any preferred color for unselected stars */
  cursor: pointer;
}

.icon-colored:hover,
.icon-uncolored:hover {
  transform: scale(1.1);
}

.note-input-container {
  margin-top: 10px;
  display: flex;
  align-items: start;
  gap: 2rem;
  /* border: 1px solid red; */
  height: 60px;
}

.note-input-container div {
  width: 100%;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid gray;

  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  position: relative;

  & input {
    width: 100%;
    outline: none;
    border: none;
  }

  & span {
    position: absolute;
    bottom: -2rem;
    right: 0.15rem;
    color: gray;
  }
}

.note-input-container button {
  margin-left: 5px;
}

.radio-input--container {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;

  & span {
    display: flex;

    gap: 0.5rem;
  }
}

.interview-questions-mini-note {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
