.table-container {
  /* width: 100vw; */

  max-width: 100%;

  & table {
    border-collapse: collapse;
    width: 100%;
  }
  & th {
    background-color: #e2ebed;
    color: #227a8a;
    letter-spacing: 1.2px;
    text-align: left;
    width: 260px;
    font-weight: bold;
  }
  & td {
    border-bottom: 2px solid rgba(128, 128, 128, 0.216);

    letter-spacing: 0.4px;
    word-spacing: 3px;
  }
  & svg {
    font-size: 1.2rem;
  }
}

.popup-trigger-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup-content {
  padding: 10px;
  width: 100%;
  /* background-color: #fff; */
  /* box-shadow: "0 4px 6px rgba(0, 0, 0, 0.1)"; */
  border-radius: 5px;
  /* z-index: 100; */
  display: flex;
  flex-direction: column;

}

.table-container th,
td {
  padding: 0.8rem 2rem;
}

.title {
  color: #227a8a;
}

.table-row:hover {
  background-color: rgba(128, 128, 128, 0.087);
}

.popup-top--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
    & button{
        border: none;
        background-color: transparent;
        color: black;
        cursor: pointer;
        font-size: 1rem;
    }
}

.popup-buttons--container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    & button{
        background-color: #f5f5f5;
        border: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        padding: 0.5rem 0.8rem;
        cursor: pointer;
}

& button:hover{
    background-color: #227a8a;
    color: white;
}
}

.edit-form-overlay{
  position: fixed;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.509);
  top: 0;
  bottom: 0;
  left: 0;
  transform: all 0.3s linear;
  -webkit-transform: all 0.3s linear;
  -moz-transform: all 0.3s linear;
  -ms-transform: all 0.3s linear;
  -o-transform: all 0.3s linear;
  display: flex;
  justify-content: end;
  backdrop-filter: blur(5px);
}

.edit-form-content{
  width: 50%;
  background-color: #fff;
  animation: popup 0.3s linear;
  -webkit-animation: popup 0.3s linear;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
@keyframes popup {
  0% {
    opacity: 0;
    width: 10%;
  }
  25% {
    opacity: 0.25;
    width: 20%;
  }
  50% {
    opacity: 0.5;
    width: 30%;
  }

  100% {
    opacity: 1;
    width: 50%;
  }
}







@media (max-width: 992px) {
  .table-container {
    width: 100%;
    & th {
      padding: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .table-container {
    width: 100%;
    & th,
    td {
      padding: 0.7rem;
    }
  }
}

@media (max-width: 576px) {
  .table-container {
    overflow-x: hidden;
    width: 100%;
    & th,
    td {
      font-size: 50%;
      padding: 0.4rem;
    }
    & svg {
      font-size: 0.8rem;
    }
  }
}
