

.searchbarheader--container{
    /*border: 1px solid #227A8A;*/
    /* border: 1px solid gray; */
    padding: 0.5rem 0.8rem;
    /* border-radius: 1.1rem; */
    display: flex;
    align-items: center;
    gap: 1rem;
    & input{
        border: none;
        outline: none;
    }

    & svg{
        font-weight: bold;
        color: #227A8A;
    }
}

