.section-kanban {
    padding: 1rem;
    display: flex;
    justify-content: center;
    /* font-size: 1rem !important; */
}

.kanban-content {
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid red;

    & svg{
        font-size: 1.5rem;
    }
}

.kanban-item{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    /* border: 1px solid red; */
    
    & .value{
        width: 250px;        
    }
    & p{
        line-height: 1.5;
        letter-spacing: 0.7px;
        font-size: 1rem;
    }
}

.title-container h3{
    color: #227A8A;

}

.kanban-content li {
    display: flex;
    flex-direction: row;
    min-width:80%;
    height: 250px;
    border: 1.5px solid #227A8A;
    /* padding: 1rem 2rem; */
    padding: 0.6rem;
    border-radius: 0.8rem;
    /* box-shadow: #227A8A 0px 1px 0px, #227A8A 0px 1px 0px; */
    flex-wrap: wrap;
    gap: 0.4rem;
    /* font-size: 1rem; */
}

.title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.kanban-content li div {
    display: flex;
    line-height: 1.5;
}

.field {
    color: gray;
    width: 180px;
}

.value {
    text-align: left;
}


@media (max-width:992px) {
    .kanban-content{
        grid-template-columns: repeat(2,1fr);
    }
    .kanban-content li{
        width: 100%;
    }
    .kanban-content .field{
        width: 30%;
    }
    .kanban-content .value{
        width: 60%;
    }

    
}

@media (max-width:576px) {
    .section-kanban{
        padding: 0.3rem;
    }
    .kanban-content{
        grid-template-columns: repeat(1,1fr);
        & svg{
            font-size: 1.4rem;
        }
    }
    .kanban-content li{
        width: 100%;
    }
    .kanban-content .field{
        width: 30%;
    }
    .kanban-content .value{
        width: 60%;
    }

}