
.toggle-section{
    margin-bottom: 2rem;
}

.toggle-section,ul{
    display: flex;
    align-items: center;
    gap: 3rem;

}

li{
    list-style-type: none;
    cursor: pointer;
     & svg{
        font-size: 2rem;
     }
}

@media (max-width:576px) {
    .toggle-section{
        margin-bottom: 0rem;

        & svg{
            font-size: 1.5rem;
        }
    }
}